{%  extends "base.html" %}

{% block title %}
Posts del blog {{ blog.name }}
{% endblock %}

{% block body %}


    {%  for post in items %}
        <a href="/blogs/{{ post.blog.owner.username }}/{{ post.pk }}" style="text-decoration: none;">
        <h3>{{ post.blog }} > {{ post.titulo }}</h3>
        <h5>Escrito por {{ post.blog.owner.username }} el {{ post.fechapublicacion }}</h5>
        <div>
            <img src="{{ post.URLimagen.url }}" alt="{{ post.titulo }}" title="{{ post.titulo }}" width="400px">
            <p>{{ post.intro }}</p>
            <h5>Categoria: {{ post.categorias }}</h5>

        </div>

        </a>
        <hr>
    {%  endfor %}
{% endblock %}